
body{
    margin: 0;
}
.screen{
    min-height: 90vh;
    padding-top: 10vh;
}
header{
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    height: 80px;
}

nav{
    width: 100%;
}
.nav{
    display: flex; 
    height: 80px;
    background-color: #000000;
    list-style: none;
    margin: 0;
    align-items: center;
    justify-content: right;
    padding: 0;
}
.nav a{
    font-family: 'Rosario';
    font-style: italic; 
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 25px 0 50px;
}

#gallery{
    display: flex;
    align-items: center;
    margin-top: -10vh;
}
.firstImg, .fourImg{
    width: 18%;
}
.secondImg, .thirdImg{
    width: 24%;
}
.img{
    width: 100%;
}
.firstImg{
    padding: 0 72px 0 43px ;
    animation: apperance 2s linear 1;
}
.secondImg img:first-of-type{
    padding-bottom: 25px;
}
.secondImg{
    padding-right: 20px;
    animation: apperance 1s linear 1;
}
.thirdImg img:first-of-type{
    padding-bottom: 25px;
}
.thirdImg{
    padding-right: 72px;
    animation: apperance2 1s linear 1;
}
.fourImg{
    animation: apperance2 2s linear 1;
}
@keyframes apperance{
    from{
        transform:  translateX(-100vw);
    }
    to{
        transform:  translateX(0);
    }
}
@keyframes apperance2{
    from{
       transform:  translateX(100vw);
    }
    to{
       transform:  translateX(0);
    }
}
#services{
    display: flex;
    justify-content: space-between;
}
.servicesElements{
    width: 45vw;
    height: 90vh;
    margin: 40px auto 0 auto;
}
.services{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services img{
    width: 250px;
    height: 250px;
}
.services p{
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000000;
    padding: 0;
    margin: 0;
}
.img1{
    animation: circling 7s linear infinite; 
}
@keyframes circling{
    from,
    to{
        transform:  translateX(0) translateY(0);
    }
    25%{
        transform:  translateX(176%) translateY(0);
    }
    50%{
        transform:  translateX(176%) translateY(118%);
    }
    75%{
        transform:  translateX(-0%) translateY(118%);
    }
}
.img2{
    animation: circling2 7s linear infinite; 
}
@keyframes circling2{
    from,
    to{
        transform:  translateX(0) translateY(0);
    }
    25%{
        transform:  translateX(0) translateY(118%);
    }
    50%{
        transform:  translateX(-176%) translateY(118%);
    }
    75%{
        transform:  translateX(-176%) translateY(-0%);
    }
}
.img3{
    animation: circling3 7s linear infinite;
}
@keyframes circling3{
    from,
    to{
        transform:  translateX(0) translateY(0);
    }
    25%{
        transform:  translateX(0) translateY(-118%);
    }
    50%{
        transform:  translateX(176%) translateY(-118%);
    }
    75%{
        transform:  translateX(176%) translateY(-0%);
    }
}
.img4{
    animation: circling4 7s linear infinite;
}
@keyframes circling4{
    from,
    to{
        transform:  translateX(0) translateY(0);
    }
    25%{
        transform:  translateX(-176%) translateY(0);
    }
    50%{
        transform:  translateX(-176%) translateY(-118%);
    }
    75%{
        transform:  translateX(0) translateY(-118%);
    }
}
.barber img{
    width: 45vw;
    height: 90vh;
}

#team{
    margin-top: -10vh;
}
h1{
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 76px;
    text-align: center;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 40px;
}
.team{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.card{
    width: 20%;
    position: relative;
    background-repeat: no-repeat;
    height: 510px;
}
#Meredith {
    background-image: url(../img/Meredith.png);
    background-size: contain; 
}
#Jason{
    background-image: url(../img/Jason.png);
    background-size: contain; 
}
#Ryan{
    background-image: url(../img/Ryan.png);
    background-size: contain; 
}
#James{
    background-image: url(../img/James.png);
    background-size: contain; 
}
.name{
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 83, 10, 0.7);
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
    font-family: 'Volkhov';
    font-weight: 400;
    font-size: 30px;
    color: #FFFAFA;
    height: 0;
    overflow: hidden;
}
.card:hover .name{
    height: 100px;
    transition: all .5s linear;
}
.team:has(:hover) .card:not(:hover) {
    filter: brightness(30%);  
}

#contact{
    margin-top: -10vh;
}
#connection{
    display: flex;
    justify-content: center;
    margin: 60px auto 0 auto;
}
.form p{
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 46px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-right: 140px;
}
#form{
    width: 680px;
    height: 323px;
    background: #E5E5E5;
    margin-top: 17px;
    margin-right: 34px;
    display: flex;
}

input{
    background: #FFFFFF;
    border: none;
}
#name{
    margin: 35px 50px 45px 29px;
    height: 13%;
    width: 39%;
}
#email{
    height: 13%;
    width: 46%;
}
#message{
    margin: 0 29px 31px 29px;
    height: 55%;
    width: 94%;
}
input::placeholder{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
textarea::placeholder{
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
textarea{
    background: #FFFFFF;
    border: none;
}

.info{
    display: flex;
    justify-content: space-around;
    width: 90%;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin: 50px auto 0 auto;
}
.info p{
    margin: 0;
    font-style: italic;
    padding: 0;
    text-align: center;
}
.contact{
    margin-bottom: 20px;
}
.contact p{
    text-align: left;
}
.contact div{
    display: flex;
    justify-content: center;
}
.info h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #000000;
}

.social h3{
    margin-bottom: 0;
}
.info a{
    color: #000000;
}

@media screen and (min-width:1620px) {
    body{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .nav a{
        font-family: 'Rosario';
        font-style: italic; 
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        padding: 0 15px 0 30px;
    }
    #gallery{
        display: flex;
        flex-wrap: wrap;
    }
    #gallery > .firstImg{
        order: -2;
    }
    #gallery > .fourImg{
        order: -1;
    }
    .firstImg{
        width: 41%;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0px 51px 0 51px;
        animation: apperance 1s linear 1;
    }
    .fourImg{
        width: 41%;
        animation: apperance2 1s linear 1;
    }
    .secondImg{
        width: 41%;
    }
    .thirdImg{
        width: 41%;
    }
    .secondImg img:first-of-type{
        padding-bottom: 40px;
    }
    .thirdImg img:first-of-type{
        padding-bottom: 40px;
    }
    .secondImg{
        padding: 0px 53px 0 53px;
    }
    .thirdImg{
        padding-right: 0;
    }
    .screen{
        height: auto;
        padding-top: 10vh;
    }
    #services{
        display: flex;
        flex-direction: column-reverse;
    }
    .barber img{
        width: 100%;
        height: auto;
    }
    
    @keyframes circling{
        from,
        to{
            transform:  translateX(-50%) translateY(0);
        }
        25%{
            transform:  translateX(120%) translateY(0);
        }
        50%{
            transform:  translateX(120%) translateY(118%);
        }
        75%{
            transform:  translateX(-50%) translateY(118%);
        }
    }
    @keyframes circling2{
        from,
        to{
            transform:  translateX(20%) translateY(0);
        }
        25%{
            transform:  translateX(20%) translateY(118%);
        }
        50%{
            transform:  translateX(-155%) translateY(118%);
        }
        75%{
            transform:  translateX(-155%) translateY(-0%);
        }
    }
    @keyframes circling3{
        from,
        to{
            transform:  translateX(-50%) translateY(0);
        }
        25%{
            transform:  translateX(-50%) translateY(-118%);
        }
        50%{
            transform:  translateX(120%) translateY(-118%);
        }
        75%{
            transform:  translateX(120%) translateY(-0%);
        }
    }
    .img4{
        animation: circling4 7s linear infinite;
    }
    @keyframes circling4{
        from,
        to{
            transform:  translateX(20%) translateY(0);
        }
        25%{
            transform:  translateX(-155%) translateY(0);
        }
        50%{
            transform:  translateX(-155%) translateY(-118%);
        }
        75%{
            transform:  translateX(20%) translateY(-118%);
        }
    }
    .team{
        display: flex;
        flex-wrap: wrap;  
    }
    .card{
        width: 32%;
        margin-right: 20px;
    }
    .name{
        bottom: 32px;
    }
    #contact{
        margin-top: 0;
        padding-top: 0;
    }
    #connection{
        display: block;
        text-align: center;
        margin: 30px auto 0 auto;
    }
    .form p{
        padding-right: 0;
    }
    #form{
       margin: 10px auto 25px auto;
    }
    .info{
        margin: 50px auto 30px auto;
        width: 100%;
    }
    .contact{
        margin-top: 5px;
    }
}

@media screen  and (max-width: 767px){
    .nav a{
        font-family: 'Rosario';
        font-style: italic; 
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        padding: 0 15px 0 30px;
    }
    #gallery{
        display: flex;
        flex-direction: column;
    }
    .firstImg{
        width: 50%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0;
        animation: apperance 1s linear 1;
    }
    .secondImg{
        width: 50%;
        margin-bottom: 30px;
        padding-right: 0;
    }
    .thirdImg{
        width: 50%;
        margin-bottom: 30px;
        padding-right: 0;
    }
    .fourImg{
        width: 50%;
    }
    .secondImg img:first-of-type{
        animation: apperance2 1s linear 1;
    }
    .secondImg{
        animation: apperance 1s linear 1;
    }
    .thirdImg {
        animation: apperance2 1s linear 1;
    }
    .thirdImg img:nth-child(2){
        animation: apperance3 1s linear 1;
    }
    .fourImg{
        animation: apperance2 1s linear 1;
    }
    @keyframes apperance{
        from{
            transform:  translateX(-100vw);
        }
        to{
            transform:  translateX(0);
        }
    }
    @keyframes apperance2{
        from{
           transform:  translateX(200vw);
        }
        to{
           transform:  translateX(0);
        }
    }
    @keyframes apperance3{
        from{
           transform:  translateX(-400vw);
        }
        to{
           transform:  translateX(0);
        }
    }
    #services{
        display: flex;
        flex-direction: column-reverse;
    }
    .barber img{
       width: 0;
       height: 0;
    }
    @keyframes circling{
        from,
        to{
            transform:  translateX(-70%) translateY(0);
        }
        25%{
            transform:  translateX(110%) translateY(0);
        }
        50%{
            transform:  translateX(110%) translateY(118%);
        }
        75%{
            transform:  translateX(-70%) translateY(118%);
        }
    }
    @keyframes circling2{
        from,
        to{
            transform:  translateX(10%) translateY(0);
        }
        25%{
            transform:  translateX(10%) translateY(118%);
        }
        50%{
            transform:  translateX(-170%) translateY(118%);
        }
        75%{
            transform:  translateX(-170%) translateY(-0%);
        }
    }
    @keyframes circling3{
        from,
        to{
            transform:  translateX(-70%) translateY(0);
        }
        25%{
            transform:  translateX(-70%) translateY(-118%);
        }
        50%{
            transform:  translateX(110%) translateY(-118%);
        }
        75%{
            transform:  translateX(110%) translateY(-0%);
        }
    }
    @keyframes circling4{
        from,
        to{
            transform:  translateX(10%) translateY(0);
        }
        25%{
            transform:  translateX(-170%) translateY(0);
        }
        50%{
            transform:  translateX(-170%) translateY(-118%);
        }
        75%{
            transform:  translateX(10%) translateY(-118%);
        }
    }
    .team{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .card{
        width: 32%;
        margin-bottom: 0px;
        padding-bottom: 0;
        
    }
    #Jason, #Ryan, #James{
        margin-top: -80px;
    }
    .name{
        bottom: 110px;
    }
    #connection{
        flex-direction: column-reverse;
    }
    .form p{
        margin: 10px auto 10px auto;
        padding-right: 0;
    }
    #form{
        margin: 10px auto 25px auto;
     }
     .map{
        text-align: center;
        margin-top: -70px;
     }
    .info{
        width: 100%;
        margin: 50px 0 30px 5px;
    }
}

